# configuration file for plotting of secondary sources (aka loudspeakers)
#
# AUTHOR: Hagen Wierstorf

# @array_active
# plot filled points for every secondary source
set style line 211 lc rgb '#000000' lt 1 lw 3 pt 7 ps 0.75
array_active = 'u 1:2 ls 211'

# @array_inactive
# plot open points for every secondary source
set style line 212 lc rgb '#000000' lt 3 lw 3 pt 65 ps 0.5
array_inactive = 'u 1:2 ls 212'
